.App {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 10px;
}

.main {
  max-width: 800px;
  background-image: url("./img/Bookworm.jpg");
  background-size: cover;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 100px 20px;
  padding-bottom: 150px;
}

.App-header {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5)
  );
  border: 2px solid rgb(83, 79, 79);
  border-radius: 10px;
  margin: 0 auto;
  margin-left: 10px;
  padding-left: 10px;
  padding: 20px 20px;
}

footer {
  color: black;
}

.vecteezy {
  margin-left: 290px;
}
