.Phonetic {
  color: #ffff;
  margin-bottom: 20px;
}
.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #9670f4;
  color: white;
}

small {
  margin-left: 12px;
}

.audio {
  width: 240px;
  height: 37px;
  vertical-align: middle;
  margin: 5px 0;
  border: 1px solid #a7548760;
  border-radius: 20px;
}

.audio:active,
.audio:focus {
  box-shadow: 0 0 0 0.2rem rgba(167, 108, 158, 0.35);
  outline-style: none;
}
