.Synonyms {
  margin: 30px 0 0;
  padding: 0;
}

.Synonyms li {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 20px;
  color: black;
  display: inline-block;
  padding: 5px 5px;
  text-align: center;
  margin-left: 5px;
  margin-bottom: 5px;
}
